<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{usuario.add.headline}]]</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 class="grow text-3xl md:text-4xl font-medium mb-2">[[#{usuario.add.headline}]]</h1>
                <div>
                    <a th:href="@{/usuarios}" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2">[[#{usuario.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('usuario')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='nombre', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='apellido', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='contrasena', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='email', required=true)}" />
                <div th:if="${emailError}" class="alert alert-danger">
                    <p th:text="${emailError}"></p>
                </div>
                <div th:replace="~{fragments/forms::inputRow(object='usuario', field='telefono')}" />

                <input type="submit" th:value="#{usuario.add.headline}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
            </form>
        </div>
    </body>
</html>
